body {
  cursor: none;
  overflow: hidden;
}

.root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .app {
    display: flex;
    min-height: 100vh;
  }

  .content {
    flex: 1;
  }
}
