.cursor-container_outter {
  width: 30px;
  height: 30px;
  border: 1.5px $red solid;
  position: fixed;
  border-radius: 50%;
}

.cursor-container_inner {
  width: 20px;
  height: 20px;
  border: 1.5px $red solid;
  position: fixed;
  border-radius: 50%;
}

.cursor {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: fixed;
  background-color: $red;
  z-index: 1500;
}
